form{
    width: 50%;
    margin: 0 auto; 
    background-color: rgb(252, 255, 66);
    padding-bottom: 60px;
    padding-top: 40px;
    border: 10px;
    border-radius: 30px;
}

.div{
    width: 50%;
    margin: 0 auto;
}

.h1{
    text-align: center;
    margin: 0 auto;
    background-color: bisque;
    margin-bottom: 20px;
}

.button{
    display: block;
    margin: 0 auto;
}