p{
    font-family: Arial;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 3px;
}
.little{
    font-weight: 1;
    font-size: 15px;
    opacity: 0.4;
}

.desc{
    margin-top: 0;
    padding-top: 0;
    width: 500px;
    font-size: 19px;
    margin-bottom: 2px;
}

.acong{
    color: rgba(26, 44, 241, 0.561);
}